body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Sriracha", cursive;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.2vw;
}

section.welcome{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: white;
}

/* IMAGE SETTINGS */
img{
    max-width: 20vw;
    max-height: fit-content;
    align-self: center;
}

div img#smallerPng{
    max-width: 15vw;
    margin-top: -5vh;
    max-height: fit-content;
    align-self: center;
}

div {
    margin-top: 10vh;
    text-align: center;
}

div h1{
    font-size: 4vw;
    margin-top: -1vh;
}

div h2 {
    font-size: 3vw;
    margin-top: -5vh;
}

/* BUTTONS SETTINGS */
div button {
    color:#2440ad;
    min-width: 70%;
    max-height: 7vh;
    border-radius: 80px;
    margin-top: -2vh;
}

div button h4{
    font-family: "Sriracha", cursive;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.2vw;
    font-size: 3vh;
    margin-top: 0.2vh;
}

div.buttons{
    display: flex;
    flex-direction: row;
}

div.buttons button {
    min-width: 30%;
    max-height: 7vh;
    border-radius: 80px;
}

div.buttons button#rightButton{
    margin-left: 22vw;
}

div.buttons button#leftButton{
    color:white;
    background-color: #2440ad;
}

button:hover {
    color: white;
    background-color:#536ccf;
    border-color: rgb(76, 166, 255);
}

/* VIDEO SETTINGS */
video {
    width: 50vw;
    height: fit-content;
}