/* Default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}

/* header */

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", Tahoma, sans-serif;
    background-image: url("../img/main_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* main screen */
#main_screen{
    display: flex;
    flex-direction:column;
    position: fixed;
    justify-content: space-evenly;
    background-color: white;
    right: 15%;
    left: 15%;
    top: 7%;
    bottom: 7%;
    width: 70%;
    overflow: scroll;
}

#main_screen h2 {
    color: rgb(64, 51, 151);
    text-align: center;
    padding: 10px 5px;
}

/* form for adding product */

#form-table {
    width: 100%;
    padding: 5px 10px;
}

#form-table th, #form-table td {
    padding: 10px;
    text-align: left;
    margin: 0;
}

#form-table input[type="text"], input[type="number"], .cat {
    padding: 12px 20px;
    width: 600px;
    height: 7px;
    box-sizing: border-box;
    border: 2px solid #2440ad;
    border-radius: 4px;
    right: 0%;
    font-size: 12px;  
}

#form-table .error {
    color:red;
    font-size: x-small;
}

.cat {
    height: 15px;
    padding: 5px 10px;
}

#button-cont {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 100px;
}

#button-cont button[type="button"], input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: white;
    background-color: #2440ad; 
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}


