body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Sriracha", cursive;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.2vw;
}

section.register{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    
}

/* RIGHT SECTION STYLE */
div.right-1{
    background-color: #2440ad;
    min-width: 53%;
    height: 100%;
    margin-left: -8%;
    overflow-x: hidden;
    color: white;
    transform: skewX(10deg);
}

div.right-1 .right-content {
    margin-top: 15vh;
    transform: skewX(-10deg);
}

div.right-1 .right-content img{
    margin-left: 18vw;
    border-radius: 50%;
    max-width: 15vw;
    max-height: fit-content;
}

div.right-1 .right-content h1, div.left-1 .left-content h1{
    margin-left: 10vw;
    font-size: 8vh;
    margin-top: -1vh;
}

div.right-1 .right-content h3 {
    margin-left: 13vw;
    font-size: 3vh;
}

button{
    color:#2440ad;
    min-width: 70%;
    margin-left: 12%;
    max-height: 7vh;
    border-radius: 80px;
}

button h4{
    font-family: "Sriracha", cursive;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.2vw;
    font-size: 3vh;
    margin-top: 0.2vh;
}

button:hover {
    color: white;
    background-color:#536ccf;
    border-color: white;
}

/* RIGHT SECTION STYLE */
div.left-1{
    background-color: white;
    min-width: 60%;
    overflow: hidden;
    color: #2440ad;
}

div.left-1 .left-content h1{
    margin-left: 18vw;
    margin-top: 5vh;
}

div.line {
    margin-left: 9vw;
    margin-top: 4vh;
    background-color:#2440ad;
    width: 60%;
    max-height: 0.5vh;
    overflow: hidden;
}

.formTemplate, .alternativeTemplate{
    margin-top: -5vh;
    margin-left: 5vw;
}

input {
    margin-left: 5vw;
    margin-top: 4vh;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #2440ad;
    border-radius: 4px;
}

input[type="password"]{
    background-image: url("../img/showPass.svg");
    background-size: 2vw 2vw;
    background-position: 30vw 1vh;
    background-repeat: no-repeat;
}

input[type="submit"], input[type="button"]{
    color:white;
    background-color: #2440ad;
    min-width: 60%;
    min-height: 5vh;
    margin-top: 5vh;
    border-radius: 80px;
}

#nextBtn{
    color:white;
    background-color: #2440ad;
    min-width: 60%;
    min-height: 5vh;
    margin-top: 5vh;
    border-radius: 80px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    color: white;
    background-color:#536ccf;
    border-color: rgb(76, 166, 255);
}

.alternativeTemplate{
    margin-top: 1vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
}

h3#alternativeLabel {
    margin-left: 22vw;
}

input[type="image"]{
    max-width: 4vh;
    max-height: fit-content;
    border-radius: 50%;
    padding: 15px;
    border: 2px solid #2440ad;
    border-image-outset: 100px;
}