/* Default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}

body{
    padding: 0;
    margin: 0;
    background-image: url("../img/main_image.png");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: "Roboto", Tahoma, sans-serif;
}

/* main screen */
#main_screen{
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    justify-content: center;
    right: 15%;
    left: 15%;
    top: 7%;
    bottom: 7%;
    width: 70%;
    overflow: scroll;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow-x: hidden;
    color: #2440ad;
    width: 70%;
    height: 70%;
    font-family: "Roboto", Tahoma, sans-serif;
}

.store-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 75px; 
    width: 100%; 
    margin-bottom: 30px;
}

.store-logo img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.store-logo h1{
    color: #2440ad;
    margin-left: 10px;
    font-family: "Sriracha", cursive;
}


.login-title {
    display: flex;
    color: #2440ad;
}

.input-cont {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-content: space-around;
    margin-top: 30px;
}

.input-cont input[type="text"], input[type="password"]{
    background-color:white;
    color: #2440ad;
    width: 300px;
    height: 30px;
    margin: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #2440ad;
    border-radius: 4px;
}

.submit-cont input[type="submit"]{
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #2440ad;
    width: 300px;
    height: 30px;
    border-radius: 80px;
    margin-top: 10px;
    font-size: medium;
}

.submit-cont input[type="submit"]:hover {
    color: white;
    background-color:#536ccf;
    border-color: rgb(76, 166, 255);
}

.submit-cont .err {
    color:red;
    font-size: x-small;
    display: flex;
    align-self: flex-end;
}

.forgot-container{
    display: flex;
    margin-top: 10px;
    font-size: medium;
}