/* Default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Tahoma, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}



/* header */

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", Tahoma, sans-serif;
    background-image: url("../img/main_image.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}

/* main screen */
#main_screen{
    position: fixed;
    right: 15%;
    left: 15%;
    top: 7%;
    width: 70%;
    height: 86%;
    overflow: scroll;
    background-color: white;
}

#main_screen h2 {
    color: rgb(64, 51, 151);
    text-align: center;
    padding: 10px 5px;
}

.order {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

#order-table {
    flex: 2;
    margin-left: 7%;
    align-self: flex-start;
    font-size: small;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid;
}

#order-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    border-collapse: collapse;
    margin: 0;
}

#order-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    border-collapse: collapse;
    margin: 0;
}

#order-table #qty {
    justify-content: space-around;
}

#order-table button{
    padding: 5px 10px;
    border: 2px solid #2440ad;
    color: #2440ad;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

#order-table img{
    width: 100px;
    height: 100px;
}

.order-table button[type="submit"] {
    padding: 5px 10px;
    border: 2px solid #2440ad;
    color: #2440ad;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.purchase-options {
    flex: 1;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
}

.purchase-options button[type="submit"] {
    padding: 5px 10px;
    border: 2px solid #2440ad;
    color: #2440ad;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}



.line {
    margin-top: 4vh;
    background-color:#2440ad;
    width: 83%;
    max-height: 0.5vh;
    overflow: hidden;
    align-self: center;
}
